<ActionBar title="Order Details" class="action-bar">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<DockLayout stretchLastChild="true" [visibility]="!isLoading ? 'visible' : 'collapsed'">
    <StackLayout dock="top" class="top-panel">
        <ScrollView>
            <StackLayout>
                <StackLayout class="group-header">
                    <Label text="ORDER INFO"></Label>
                </StackLayout>

                <StackLayout class="item-list-group">
                    <Label text="Amount" class="desc-header"></Label>
                    <Label [text]="'₦' + data.total_price"></Label>
                </StackLayout>

                <StackLayout class="item-list-group">
                    <Label text="Payment" class="desc-header"></Label>
                    <Label [text]="data.payment_type"></Label>
                </StackLayout>

                <StackLayout class="item-list-group">
                    <Label text="Delivery Address" class="desc-header"></Label>
                    <Label [text]="data.address" textWrap="true"></Label>
                    <Label [text]="data.mobile"></Label>
                </StackLayout>

                <StackLayout class="group-header">
                    <Label text="ITEM"></Label>
                </StackLayout>

                <GridLayout columns="auto, *" class="item-container">
                    <Image [src]="data.image" col="0"></Image>
                    <StackLayout col="1">
                        <Label [text]="data.product" id="productName"></Label>
                        <Label [text]="'' + data.unit_price"></Label>
                        <Label [text]="'Quantity: ' + data.quantity"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>

    <StackLayout class="bottom-panel">
        <GridLayout columns="*, *" [visibility]="status === 'P' ? 'visible' : 'collapsed'">
            <Button text="Cancel" id="cancel" col="0" class="btn-outline" (tap)="cancelOrder()"></Button>
            <Button text="Deliver" id="deliver" col="1" class="btn-outline" (tap)="deliverOrder()"></Button>
        </GridLayout>

        <StackLayout [visibility]="status !== 'P' ? 'visible' : 'collapsed'">
            <Label [text]="statusText" id="statusButton"></Label>
            <Label [text]="data.order_status_date" id="statusDate"></Label>
        </StackLayout>
    </StackLayout>
</DockLayout>

<ActivityIndicator [busy]="isLoading" width="50" height="50" color="#bc62ba" class="activity-indicator"></ActivityIndicator>