<ScrollView>
    <StackLayout>
        <DrawingPad #DrawingPad height="400" id="drawingPad" penColor="black" penWidth="3"></DrawingPad>

        <GridLayout columns="*, *">
            <Button text="Clear" id="cancel" col="0" class="btn-outline" (tap)="clearMyDrawing()"></Button>
            <Button text="Accept" id="deliver" col="1" class="btn-outline" (tap)="getMyDrawing()"></Button>
        </GridLayout>
    </StackLayout>
</ScrollView>