<Page>
    <DockLayout>
        <StackLayout dock="top" class="main-content">
            <StackLayout id="logoContainer">
                <Label class="fa logo" text="&#xf1b9;"></Label>
            </StackLayout>

            <StackLayout id="labels">
                <Label text="Welcome Back" id="welcome" class="top-labels"></Label>
                <Label text="Sign in to continue" id="continue" class="top-labels"></Label>
            </StackLayout>

            <StackLayout class="text-field">
                <Label text="Username" class="text-label"></Label>
                <TextField hint="Enter your username" [(ngModel)]="username"></TextField>
            </StackLayout>

            <StackLayout class="text-field" orientation="horizontal">
                <StackLayout>
                    <Label text="Password" class="text-label"></Label>
                    <TextField hint="Enter your password" [secure]="isPassword" [(ngModel)]="password"></TextField>
                </StackLayout>

                <GridLayout columns="*" verticalAlignment="center">
                    <Label text="&#xf06e;" col="0" class="text-right fa" (tap)="passToggle()"></Label>
                </GridLayout>
            </StackLayout>

            <Label text="Settings" id="forgotPass" (tap)="gotoSettings()"></Label>
        </StackLayout>

        <StackLayout dock="bottom" class="login-button">
            <Button class="btn-outline" text="Sign In" (tap)="signIn()" [visibility]="!isBusy ? 'visible' : 'collapsed'"></Button>
            <ActivityIndicator width="40" height="40" [busy]="isBusy" color="white" class="activity-indicator" [visibility]="isBusy ? 'visible' : 'collapsed'"></ActivityIndicator>
        </StackLayout>
    </DockLayout>
</Page>