Page {
    background-color: white;
}

.main-content {
    padding: 50 30 30 30;
    height: 90%;
}

#labels {
    margin-bottom: 40;
}

.top-labels {
    horizontal-align: center;
}

#welcome {
    font-weight: bold;
    font-size: 20px;
    color: #343434;
}

.text-field {
    margin-bottom: 20;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1;
}

TextField {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1;
}

.text-label {
    color: #343434;
    font-weight: bold;
}

.login-button Button {
    border-color: transparent;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

.login-button {
    background-color:#bc62ba;
    vertical-align: center;
    height: 10%;
}

#forgotPass {
    color: #bc62ba;
    font-weight: bold;
    horizontal-align: center;
}

#logoContainer {
    height: 80;
    width: 80;
    background-color: #bc62ba;
    margin-bottom: 40;
    border-radius: 10;
    vertical-align: center;
}

.logo {
    color: white;
    font-size: 40;
    horizontal-align: center;
}
