ActionBar {
    background-color: white;
}

.top-panel {
    height: 90%;
}

.group-header {
    background-color: #e2e2e2;
    height: 50;
    vertical-align: center;
}

.group-header Label {
    color: #181818;
    font-weight: bold;
}

.item-list-group, .group-header, .item-container {
    padding: 0 10;
}

.item-list-group {
    margin-top: 8;
    border-bottom-style: solid;
    padding-bottom: 8;
    border-bottom-width: 1;
    border-bottom-color: #e2e2e2;
}

.item-list-group Label {
    font-size: 16;
}

.desc-header, #productName {
    color: #181818;
}

.item-container Image {
    height: 150;
    margin-top: 10;
}

.item-container StackLayout {
    margin-left: 10;
    vertical-align: center;
}

.item-container StackLayout Label {
    font-size: 16;
    margin-bottom: 5;
}

#productName {
    font-weight: bold;
}

.bottom-panel GridLayout Button {
    border-color: transparent;
    font-weight: bold;
}

.bottom-panel StackLayout Label {
    horizontal-align: center;
}

.bottom-panel StackLayout {
    vertical-align: center;
}

#cancel {
    color: #181818;
    text-transform: capitalize;
}

#deliver {
    color: #bc62ba;
}

#statusButton {
    color: #181818;
    border-color: transparent;
    font-weight: bold;
    font-size: 16;
    text-transform: uppercase;
}

#statusDate {
    font-size: 12;
}
