<ActionBar title="Michael Olawale" icon="res://logo" backgroundColor="white">

</ActionBar>

<TabView tabBackgroundColor="white" androidSelectedTabHighlightColor="#bc62ba" selectedTabTextColor="#343434" tabTextColor="#c5c5c5">
    <StackLayout *tabItem="{title: 'Pending'}">
        <pending></pending>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Delivered'}">
        <delivered></delivered>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Cancelled'}">
        <cancelled></cancelled>
    </StackLayout>
</TabView>